.template-default {
  font-size: 14px;
  background-color: black;
  color: ivory;
  min-height: 100vh;
  height: 100%;
  width: 100%;

  a {
    color: cyan;
  }

  h1 { font-size: 18px; }
  h2 { font-size: 16px; }
  h3 { font-size: 14px; }

  .divs-inline {
    margin: 10px 0 10px 0;

    div {
      display: inline-block;
      margin-right: 10px;
      label {
        margin-right: 5px;
      }
    }
  }

  .toolbox {
    .year-list {
      label {
        border-radius: 0.15rem;
        background-color: #a6a6a6;
        color: black;
        margin: 2px;
        padding: 2px 4px 2px 4px;
        font-size: 10px;
        font-family: Courier;
      }
    }
    .tag-list {
      span {

      }
      label {
        border-radius: 0.15rem;
        background-color: #a6a6a6;
        color: black;
        margin: 2px;
        padding: 2px 4px 2px 4px;
        font-size: 10px;
        font-family: Courier;
      }
    }
  }


  .profile {
    margin: 5px;

    .name {
      h1 {
        color: yellowgreen;
      }
    }

    .title {
      h2 {

      }
    }

    .email {
      label {
        min-width: 64px;
        display: inline-block;
      }
    }

    .links {
      padding: 0;

      .link {
        margin: 0;
        list-style: none;
        font-size: 10px;
        label {
          font-weight: bold;
          min-width: 64px;
          display: inline-block;
        }
        a {
          font-weight: normal;
        }
      }

    }

    .address {
      label {
        min-width: 80px;
        display: inline-block;
      }
    }

    .phone {
      label {
        min-width: 80px;
        display: inline-block;
      }
    }

    .nationality {
      label {
        min-width: 80px;
        display: inline-block;
      }
    }

  }

  .introduction {
    margin: 5px;
    font-size: 12px;
    font-family: "Times New Roman";

    h3 {

    }
  }

  .education {
    margin: 5px;

    .history {

      margin: 5px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .history-item {
        background-color: #353336;
        padding: 3px;
        border-radius: 0.25rem;
        box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex: 1 1 49%;
        margin-right: 5px;
        min-width: 400px;

        .start {
          display: inline-block;
          flex: 0 1 16%;
          margin: 0;
        }

        .end {
          display: inline-block;
          flex: 0 1 24%;
        }

        .org {
          font-weight: bold;
          display: inline-block;
          margin: 0;
          flex: 1 1 34%;
        }

        .place {
          display: inline-block;
          flex: 1 1 24%;
          text-align: right;
        }

        .type {
          display: inline-block;
          margin: 0;
          flex: 1 1 40%;
        }

        .topic {
          display: inline-block;
          flex: 1 1 60%;
          text-align: right;
        }

        .info {

        }
      }
    }
  }

  .experience {
    margin: 5px;

    .history {

      margin: 5px;

      .history-item {
        background-color: #362b2d;
        color: #bbbabd;
        padding: 3px;
        border-radius: 0.25rem;
        box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
        margin: 5px;

        .start {
          display: inline-block;
        }

        .end {
          display: inline-block;
        }

        .org {
          font-weight: bold;
          display: block;
          margin: 5px 0 5px 0;
          color: #faf7a9;
        }

        .place {
          display: inline-block;
        }

        .type {
          display: block;
          margin: 0;
        }

        .title {
          display: block;
          margin: 0;
        }

        .tech {
          display: block;
        }

        .tags {
          display: block;
          label {
            border-radius: 0.15rem;
            background-color: #a6a6a6;
            color: black;
            margin: 2px;
            padding: 2px 4px 2px 4px;
            font-size: 10px;
            font-family: Courier;
          }
        }

        .info {

        }
      }
    }
  }

}

